.benefits-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 222px;
}

.benefits-section:last-child{
    margin: 0;
}

.benefits-section .benefit-image{
    height: 315px;
    width: 450px;
}

.benefits-section .content{
    width: 445px; 
}

.benefits-section .benefits-title{
    margin-bottom: 16px;
}

.benefits-section  .margin-badge{
    margin-bottom: 44px;
}

.benefits-section .badge{
    width: 150px;
    text-align: center;
}

.benefits-section{
    .responsive-md({
        margin-bottom: 68px;
    });

    .responsive-sm({
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 100px;
    });

    .responsive-xs({
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 100px;
       });

    .content{
        .responsive-md({
            margin-left: 20px;
        });

        .responsive-xs({
            width: 550px;
           });
    }

    .benefit-image{
        .responsive-lg({
            margin-right: 40px;
            
        });

        .responsive-md({
            margin-top: 54px;
            height: 250px;
            width: 350px;
            margin-right: 0;
        });

        .responsive-sm({
            margin-top: 32px;
        });

        .responsive-xs({
         margin-right: 0;
         width: 100%;
         height: 100%;
         margin-top: 20px;
        });
    }

    .benefits-title{
        .responsive-md({
            font-size: 32px;
            line-height: 32px;
        });
    }

    .benefits-text{
        .responsive-md({
            font-size: 14px;
            line-height: 22px;
        });
    }
}

