.benefits-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 222px;
    margin-left: 32px;
    margin-right: 32px;
}

.benefits-section:last-child{
    margin: 0;
}

.benefits-section .benefit-image{
    height: 315px;
    width: 450px;
    margin-right:125px;
}

.benefits-section .content{
    width: 445px; 
}

.benefits-section .benefits-title{
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 48px;
    color: var(--color-tilte);
}

.benefits-section .benefits-text{
    font-size: 16px;
    line-height: 26px;
    color: var(--color-primary-paragraph);
}

.benefits-section  .margin-badge{
    margin-bottom: 44px;
}

.benefits-section .badge{
    width: 150px;
    text-align: center;
}


.benefits-section{
    .responsive-md({
        flex-wrap: wrap-reverse;
        margin-bottom: 68px;
        margin-left: 0;
        margin-right: 0;
    });

    .responsive-sm({
        margin-bottom: 54px;
    });

    .benefit-image{
        .responsive-xl({
            margin-right: 160px;
        });

        .responsive-lg({
            margin-right: 60px;
            height: 250px;
            width: 350px;
        });

        .responsive-md({
            margin-top: 54px;
            margin-right: 0;
        });

        .responsive-sm({
            margin-top: 32px;
        });
    }

    .benefits-title{
        .responsive-md({
            font-size: 32px;
            line-height: 32px;
        });
    }

    .benefits-text{
        .responsive-md({
            font-size: 14px;
            line-height: 22px;
        });
    }
}

