.hero-section{
    background-image: url(../images/bg-image.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.hero-section .header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hero-section .header-menu-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 18px 0;
}

.hero-section .header-menu-list li{
    margin-right: 60px;
}

.hero-section .header-menu-list li:last-child{
    margin-right: 0;
}

.hero-section .header-text-link{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-main-link);
}

.hero-section .header-main-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: var(--color-menu);
}

.hero-section .header-main-link{  
    display: flex;
    align-items: center;
} 

.hero-section .content {
    margin-left: 163px;
    margin-top: 300px;
    width: 539px;
}

.hero-section .content .btn.ghost{
    line-height: 24px;
}

.hero-section .content-title{
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1px;
    color: var(--color-tilte);
}

.hero-section .content .content-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-paragraph);
}

.hero-section .button-wraper{
    display: flex;
    margin-top: 69px;
}

.hero-section .purchease-btn,
.hero-section .learn-more-btn{
    margin-right: 30px;
}

@media only screen and (max-width: 1200px) {
    .hero-section {
        background-size: 600px 500px;
    }
    .hero-section .content{
        margin-left: 64px;
        margin-top: 75px;
    }
  }


@media only screen and (max-width: 992px) {
    .hero-section {
        background-size: 500px 400px;
    }
    .hero-section .content{
        margin-left: 32px;
        margin-top: 68px;
    }
  }

@media only screen and (max-width: 768px) {
    .hero-section {
        background-size: 400px 300px;
    }
    .hero-section .content{
        margin-left: 16px;
        margin-top: 32px;
    }
    .hero-section .header-menu-list li {
        margin-right: 32px;
    }
    .hero-section .content-title {
        font-size: 40px;
        line-height: 60px;
    }
    .hero-section .content-text{
        font-size: 15px;
        line-height: 25px
    }
  }

@media only screen and (max-width: 576px){
    .hero-section{
        background-size: 300px 250px;
    }
    .hero-section .header{
        flex-wrap: wrap;
    }
    .hero-section .header-main-link{
        display: none;
    }
    .hero-section .btn{
        margin-left: 16px;
        margin-right: 16px;
        width: 100%;
    }
    .hero-section .content{
        width: auto;
        margin-right: 16px;
        margin-top: 16px;
    }
    .hero-section .header-menu-list{
        margin: 12px 0;
        width: 100%;
        justify-content: space-around;
    }
    .hero-section .header-menu-list li {
        margin-right: 0;
    }
    .hero-section .content-title {
        font-size: 25px;
        line-height: 32px;    
    }
    .hero-section .content .content-text {
        font-size: 15px;
        line-height: 22px;
    }
    .hero-section .button-wraper{
        flex-wrap: wrap;
        margin-top: 32px;
    }
    .hero-section .content .purchease-btn{
        margin-right: 0;
        margin-left: 0;
    }
    .hero-section .content .learn-more-btn{
        margin-right: 0;
        margin-left: 0;
        margin-top: 16px;
    }

  }
  