.hero-section{
    background-image: url(../images/bg-image.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.hero-section .header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hero-section .header-menu-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 18px 0;
}

.hero-section .header-menu-list li{
    margin-right: 60px;
}

.hero-section .header-menu-list li:last-child{
    margin-right: 0;
}

.hero-section .header-text-link{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-primary-link);
}

.hero-section .header-main-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: var(--color-logo);
}

.hero-section .header-main-link{  
    display: flex;
    align-items: center;
} 

.hero-section .content {
    margin-left: 163px;
    margin-top: 300px;
    width: 539px;
}

.hero-section .content .btn.ghost{
    line-height: 24px;
}

.hero-section .content-title{
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1px;
    color: var(--color-tilte);
}

.hero-section .content .content-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-primary-paragraph);
}

.hero-section .button-wraper{
    display: flex;
    margin-top: 69px;
}

.hero-section .purchease-btn,
.hero-section .learn-more-btn{
    margin-right: 30px;
}



.hero-section {
    .responsive-xl({
        background-size: auto 100%;
    });

    .responsive-lg({
        background-size: auto 100%;
    });

    .responsive-md({
        background-size: auto 100%;
    });

    .responsive-sm({
        background-size: auto 100%;
    });

    .content {
        .responsive-xl({
            margin-left: 64px;
            margin-top: 75px;
        });

        .responsive-lg({
            margin-left: 32px;
            margin-top: 68px;
        });

        .responsive-md({
            margin-left: 16px;
            margin-top: 32px;
        });

        .responsive-sm({
            width: auto;
            margin-right: 16px;
            margin-top: 16px;
        });
    }

    .header-menu-list li{
        .responsive-md({
            margin-right: 32px;
        });

        .responsive-sm({
            margin-right: 0;
        });
    }

    .content-title{
        .responsive-md({
            font-size: 40px;
            line-height: 60px;
        });
        
        .responsive-sm({
            font-size: 25px;
            line-height: 32px; 
        });
    }

    .content-text{
        .responsive-md({
            font-size: 15px;
            line-height: 25px;
        });
        
        .responsive-sm({
            font-size: 15px;
            line-height: 22px;
        });
    }

    .header{
        .responsive-sm({
            flex-wrap: wrap;
        });
    }

    .header-main-link{
        .responsive-sm({
            display: none;
        });
    }

    .btn{
        .responsive-sm({
            margin-left: 16px;
            margin-right: 16px;
            width: 100%;
        });
    }

    .header-menu-list{
        .responsive-sm({
            margin: 12px 0;
            width: 100%;
            justify-content: space-around;
        });
    }

    .button-wraper{
        .responsive-sm({
            flex-wrap: wrap;
            margin-top: 32px;
        });
    }

    .purchease-btn{
        .responsive-sm({
            margin-right: 0;
            margin-left: 0;
        });
    }
    
    .learn-more-btn{
        .responsive-sm({
            margin-right: 0;
            margin-left: 0;
            margin-top: 16px;
        });
    }

}
