@breakpoint-xl: 1200px;
@breakpoint-lg: 992px;
@breakpoint-md: 768px;
@breakpoint-sm: 576px;

.responsive-xl(@rules) {
    @media only screen and (min-width: @breakpoint-xl) {
        @rules();
    }
}

.responsive-lg(@rules) {
    @media only screen and (min-width: @breakpoint-lg)  and (max-width: calc(@breakpoint-xl - 1px)) {
        @rules();
    }
}

.responsive-md(@rules) {
    @media only screen and (min-width: @breakpoint-md)  and (max-width: calc(@breakpoint-lg - 1px)) {
        @rules();
    }
}

.responsive-sm(@rules) {
    @media only screen and (min-width: @breakpoint-sm) and (max-width: calc(@breakpoint-md - 1px)) {
        @rules();
    }
}

.responsive-xs(@rules) {
    @media only screen and (max-width: calc(@breakpoint-sm - 1px)) {
        @rules();
    }
}