.product-section{
    margin-bottom: 108px;
}

.product-section .content-wraper{
    display: flex;
    justify-content: center;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 160px;
}

.product-section .product-image{
    height: 540px;
    width: 525px;
}

.product-section .content{
    width: 540px;
}

.product-section .content-title{
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 48px;
    color: var(--color-tilte);
}

.product-section .content-text{
    font-size: 16px;
    line-height: 26px;
    color: var(--color-paragraph);
}

.product-section .cards-info{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.product-section .card-image{
    height: 36px;
    width: 36px;
    margin-bottom: 14px;
}

.product-section .card-title{
    font-size: 16px;
    line-height: 26px;
    color: var(--color-tilte);
}

.product-section .card-text{
    font-size: 12px;
    line-height: 18px;
    color: var(--color-card);
}

.product-section .left-card{
    margin-right: 30px;
}

.product-section .product-image{
    height: 540px;
    width: 524px;
}

@media only screen and (max-width: 1200px) {
    .product-section .content-wraper{
        margin-top: 75px;
    }
  }

@media only screen and (max-width: 992px) {
    .product-section .product-image{
        height: 350px;
        width: 350px;
    }
  }

@media only screen and (max-width: 768px) {
    .product-section .content-wraper {
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
    .product-section .product-image{
        margin-top: 54px;
        height: 500px;
        width: 500px;
    }
    .product-section .content-title {
        margin-bottom: 8px;
        font-size: 32px;
        line-height: 32px;
    }
    .product-section .content-text {
        font-size: 14px;
        line-height: 22px;
    }
    .product-section .cards-info {
        margin-top: 36px;
    }
  }

@media only screen and (max-width: 576px){
    .product-section .content-wraper {
        flex-wrap: wrap;
    }
    .product-section .product-image {
        margin-top: 32px;
        height: 500px;
        width: 500px;
        margin-right: 0px;
    }
    .product-section .content-title {
        font-size: 28px;
        line-height: 28px;
    }
    .product-section .cards-info {
        margin-top: 16px;
    }
    .product-section .left-card {
        margin-right: 16px;
    }

  }