.product-section{
    margin-bottom: 108px;
}

.product-section .content-wraper{
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

.product-section .product-image{
    max-width: 525px;
}

.product-section .content-title{
    margin-bottom: 16px;
}

.product-section .cards-info{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.product-section .card-image{
    max-width: 36px;
    margin-bottom: 14px;
}

.product-section .card-text{
    font-size: 12px;
    line-height: 18px;
    color: var(--color-secondory-paragraph);
}

.product-section .left-card{
    margin-right: 30px;
}

.product-section .product-image{
    max-width: 524px;
}


.product-section {
    .responsive-sm({
        margin-bottom: 80px;
    });

    .content-wraper{
        .responsive-xs({
            flex-wrap: wrap;
            margin-bottom: 40px;
        });

        .responsive-xl({
            margin-top: 75px;
        });

        .responsive-md({
            flex-wrap: wrap;
            margin-right: 0;
        });

        .responsive-sm({
            flex-wrap: wrap;
        });
    }

    .product-image{
        .responsive-lg({
            max-width: 500px;
        });

        .responsive-md({
            margin-top: 54px;
            max-width: 500px;
        });

        .responsive-sm({
            margin-top: 32px;
            max-width: 500px;
        });
    }

    .content-title{
        .responsive-md({
            margin-bottom: 8px;
            font-size: 32px;
            line-height: 32px;
        });

        .responsive-sm({
            font-size: 28px;
            line-height: 28px;
        });
    }

    .content-titlecards-info{
        .responsive-md({
            margin-top: 36px;
        });

        .responsive-sm({
            margin-top: 16px;
        });
    }

    .content-text{
        .responsive-md({
            font-size: 14px;
            line-height: 22px;
        });
    }

    .cleft-card{
        .responsive-md({
            margin-right: 16px;
        });
    }
}