body{
    margin: 0;
    font-family: Roboto;
}

.btn{
    background: var(--background-color-btn);
    border: none;
    color: var(--color-badge);
    border-radius: 2px;
    font-size: 12px;
    line-height: 28px;
    padding: 4px 57px;
}

.btn.ghost{
    font-size: 16px;
    line-height: 26px;
    color: var(--color-tilte);
    background: var(--color-badge);
    border: 2px solid var(--color-tilte);
    border-radius: 2px;
    padding: 4px 57px;
}

.badge{
    font-size: 14px;
    line-height: 24px;
    background: var(--background-color-badge);
    border-radius: 2px; 
    border: none;
    color: var(--color-badge);
}

.divider{
    height: 60px;
}

.container{
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;

        .responsive-xs({
            max-width: 	100%;
            margin: 0;
        });
    
        .responsive-sm({
            max-width: 540px;
        });
        .responsive-md({
            max-width: 	720px
        });
        .responsive-lg({
            max-width: 	960px;
        });
    
    .responsive-xl({
        max-width: 1140px;
    });
}

h1{
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1px;
    color: var(--color-tilte);
}

h2{
    font-size: 36px;
    line-height: 48px;
    color: var(--color-tilte);
}

h3{
    font-size: 16px;
    line-height: 26px;
    color: var(--color-tilte);
}

a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-primary-link);
}

p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-primary-paragraph);
}

