body{
    margin: 0;
    font-family: Roboto;
}

.btn{
    background: #111B47;
    border: none;
    color: #FFFFFF;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    padding: 4px 57px;
}

.btn.ghost{
    font-size: 16px;
    line-height: 26px;
    color: #091133;
    background: #FFFFFF;
    border: 2px solid #091133;
    border-radius: 2px;
    padding: 4px 57px;
}

.badge{
    font-size: 14px;
    line-height: 24px;
    background: #111B47;
    border-radius: 2px; 
    border: none;
    color: #FFFFFF;
}