body{
    margin: 0;
    font-family: Roboto;
}

.btn{
    background: var(--background-color-btn);
    border: none;
    color: var(--color-badge);
    border-radius: 2px;
    font-size: 12px;
    line-height: 28px;
    padding: 4px 57px;
}

.btn.ghost{
    font-size: 16px;
    line-height: 26px;
    color: var(--color-tilte);
    background: var(--color-badge);
    border: 2px solid var(--color-tilte);
    border-radius: 2px;
    padding: 4px 57px;
}

.badge{
    font-size: 14px;
    line-height: 24px;
    background: var(--background-color-badge);
    border-radius: 2px; 
    border: none;
    color: var(--color-badge);
}